
$header-background: #3BA83B;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;
$header-font-weight: bold;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-background: #B7F08A;
$item-text: #000000;
$item-padding: 0.75rem;
$item-font-weight: bold;
$item-edit-background: #8b8b8b;
$item-edit-text: #ffffff;
$item-edit-width: 2rem;


$menu-background: #3BA83B;
$menu-text: #ffffff;
$menu-height: $header-height;
